/* animation */

.animation-wrapper {
    width: 50%;
    padding-bottom: 60%;
    margin: auto;
}

.stagger-visualizer {
    position: absolute;
    width: 1100px;
    height: 550px;
    transform-origin: left top;
}

.stagger-visualizer .dots-wrapper {
    transform: translateZ(0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.stagger-visualizer .dot {
    position: relative;
    z-index: 1;
    width: 23px;
    height: 23px;
    margin: 16px;
    background-color: #320aff;
    border-radius: 50%;
}

@media (min-width: 640px) {
    .stagger-visualizer .dot {
        background-color: #320aff;
    }
}

.stagger-visualizer .cursor {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 37px;
    height: 37px;
    margin: 9px;
    background-color: #320aff;
    border-radius: 50%;
}